.header {
  height: 40px;
  padding-left: $margin;
  padding-right: $margin;
  color: $indigo-50;
  background-color: $indigo-500;
}

.header__href {
  color: #fff;
  text-decoration: none;
  display: block;
  &:hover {
    color: $indigo-200;
  }
}
