.post {
  margin: $margin;
}

.post__ele {
  padding: $margin;
  margin-bottom: $margin;
  box-shadow: 0 0 3px $blue-grey-200;
  &:last-child {
    margin-bottom: 0;
  }
}

.post__ele__title {
  margin-bottom: $margin / 2;
  color: $indigo-500;
  display: block;
}

.post__ele__body {
  display: block;
}

.post__ele__button {
  margin-top: $margin;  
}

/* .post__ele__body--edit {
  height: 100px;
} */
